$gradient-bg: linear-gradient(90deg, rgba(13,27,42,1) 0%, rgba(29,53,87,1) 50%, rgba(13,27,42,1) 100%);
$corDeFundo: rgba(29,53,87,1);
$corFundoSecundario:rgba(13,27,42,1);
$corFundoIndications: #13151d;
$corTextoPrincipal: #f1faee;
$corTextoSecundario: #c0c0c0;
$corBorder: #f1faee;
